<style> 
    @page {
            size: letter landscape;
    }

</style>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<body >
    <div style="width: 100%; height: 100%">
        <div style="background-color: #221F20; color: white; padding: 30px;">
            <h1 style="font-size: 140px; margin-bottom: 0 !important;" >IT MARKET</h1>
        </div>
        <div style="margin-left: 30px; width: 100%; height: 100%; ">
            <h1 style="font-size: 25px; margin-top: 0 !important; padding: 0px;">HORARIO : {{ horario }}</h1>
            <h1 style="font-size: 25px;">NOMBRE : {{nombre}}</h1>
            <h1 style="font-size: 25px">EDAD : {{ edad }}</h1>
            <h1 style="font-size: 25px">MAIL : {{ mail }}</h1>
            <h3>*Medidas covid: es obligatorio el uso de mascarilla en todo momento. El aforo estará limitado al 50% y es posible que
            tengas que hacer cola.</h3>
        </div>
    </div> 
    <div>
        <pdf:barcode value="ENTRADA AL MARKET ITCLOSET" type="code128" humanreadable="1" align="right" />
    </div>
</body>


