 


 {% extends 'base.html' %}

 
 {% load static %}

 {% block content %}

 <div class="row align-items-center ">

   <div class="col-lg-5 " style="margin-top: 7rem;">
      <div  data-aos="fade-up" data-aos-duration="1000" style="">
       <h1 class="mt-3" style="font-size:    50px;"><bold>¿Eres influencer o micro influencer?</bold></h1>
<!--        PONER DEJANOS TU EMAIL EN AMARILLO -->
        <p class="mt-3 text-secondary" style="font-size: 19px;">Valoramos tu trabajo y queremos contar con tu apoyo. Déjanos tus datos rellenando el formulario y nosotros te contactaremos.</p>
      </div>          

    <div class="d-flex"> 
        
      <div class="mt-4" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="700" ><a type="submit" href="#formulario" class="boton1" style="width: fit-content;">Rellena el formulario</a></div>
      <div class="mt-4 ml-2" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="700" style="margin-top: 160px;"><a type="submit" href="#ventajas" class="boton2" style="width: fit-content;">Ventajas</a></div>        

    </div>

   </div>

   <div class="col-lg-7 pr-0 pl-0" data-aos-delay="300"style='' >

    <div class="d-flex justify-content-center align-items-center p-lg-5 ml-5 mt-5 mt-lg-0">
      <img data-aos ="zoom-out" class="p-3" data-aos-duration="1000" data-aos-delay="1000" src="{% static 'images/influencer2.png' %}" width="100% position-relative" >
    </div>

   </div>

 </div>

<!-- optimiza tu tiempo, facilita tu trabajo, aumenta tu profesionalidad
 -->
 <div class="row mt-5 mb-lg-5 pt-5 pb-lg-5">

      <div class="col-lg-7 order-lg-1 order-2">

         <img class="mt-4" data-aos ="zoom-out" data-aos-duration="1000" data-aos-delay="1000" src="{% static 'images/influencers3.png' %}" width="100% position-relative" >

      </div>

      <div class="col-lg-5 order-lg-2 order-1 justify-content-center d-flex flex-column">

            <h1 class="mb-5"><bold>¿Cómo trabajamos?</bold></h1>

            <div class="mt-4 d-flex" data-aos-delay="200" data-aos="fade-in">
               
               <div class="card aumento-anim w-100 sombra">
                  


                  <div class="card-body d-flex align-items-center">

                     <h5 style="padding: 0.5rem 1rem; background-color: rgb(231, 255, 219); border-radius: 50%; color: rgb(14, 194, 83)">1</h5>

                     <h5 class="ml-3 card-title mb-3 mt-3">¿Tienes más de 3k seguidores? Envíanos tus perfiles de redes sociales</h5>

                  </div>
               </div>
               

            </div>

            <div class="mt-4 d-flex" data-aos-delay="500" data-aos="fade-in">
               
               <div class="card aumento-anim w-100" >
                  


                  <div class="card-body d-flex align-items-center">

                     <h5 style="padding: 0.6rem 1rem; background-color: rgb(255, 213, 185); border-radius: 50%; color: rgb(255, 81, 0)">2</h5>

                     <h5 class="ml-3 card-title mb-3 mt-3">Cuéntanos con qué audiencia trabajas</h5>


                  </div>
               </div>
               

            </div>

            <div class="mt-4 d-flex" data-aos="fade-in" data-aos-delay="900">
               
               <div class="card aumento-anim w-100">
                  


                  <div class="card-body d-flex align-items-center">

                        <h5 style="padding: 0.6rem 1rem; background-color: rgb(185, 239, 255); border-radius: 50%; color: rgb(0, 162, 255)">3</h5>

                     <h5 class="ml-3 card-title mb-3 mt-3">Analizaremos tu perfil, mantendremos una call y muy pronto
serás influencer de Beyl.</h5>

                  </div>

               </div>
               

            </div>

      </div>


 </div>


 <div class="row mt-5 mb-5 pt-lg-5 pb-5">
      <div class="col-lg-5 order-lg-1">

            <h1 class="mb-5"><bold>¿Qué beneficio tendrás?</bold></h1>

   <div class="mt-4 d-flex" data-aos-delay="200" data-aos="fade-in">
      
      <div class="card aumento-anim w-100">
         
      

         <div class="card-body">
            <div class="card-icon" style="background-color: #6bffb559;">



               <img class="card-img-top text-white" src="{% static 'images/cupon.svg' %}" width= "32" alt="Card image cap">
            </div>

            <h5 class="card-title mb-3 mt-3"><bold>Tendrás Beyl <span class="subrayado2 position-relative">gratis para siempre</span></bold></h5>
               <p class="card-text text-secondary">
                  
               </p>

         </div>
       </div>
       

   </div>

   <div class=" mt-4 d-flex" data-aos-delay="500" data-aos="fade-in">
      
      <div class="card aumento-anim w-100" >
         


         <div class="card-body">
            <div class="card-icon" style="background-color: #ffee0049;">
               <img class="card-img-top" src="{% static 'images/equipo.svg' %}" width= "32" alt="Card image cap">
            </div>

           <h5 class="card-title mb-3 mt-3"><bold>¿Y para los <span class="position-relative subrayado2">tuyos</span>?</bold></h5>
           <p class="card-text text-secondary">
         
               Puedes convertirte en afiliado de Beyl y cobrar comisiones
               por los usuarios que se registren y abonen las
               mensualidades a través de tu código. ¿Quieres saber más?
               ¡Contáctanos! 

         </p>

         </div>
       </div>
       

   </div>

   <div class="mt-4 d-flex" data-aos="fade-in" data-aos-delay="900">
      
      <div class="card aumento-anim w-100">
         


         <div class="card-body">

            <div class="card-icon" style="background-color: #61e7ff57;">
               <img class="card-img-top" src="{% static 'images/etiqueta.svg' %}" width= "32" alt="Card image cap">
            </div>

            <h5 class="card-title mb-3 mt-3"><bold>¿Quieres más <span class="position-relative subrayado2">beneficios?</span></bold></h5>
            <p class="card-text text-secondary">
               Desde descuentos únicos hasta pruebas totalmente gratuitas de nuestros productos sin ningún compromiso.
            </p>

         </div>

       </div>
       

   </div>

      </div>


      <div class="col-lg-7 order-lg-2">

         <img class="mt-4" data-aos ="zoom-out" data-aos-duration="1000" data-aos-delay="1000" src="{% static 'images/entrenamiento5.png' %}" width="100% position-relative" >
      </div>




 </div>




<div class="mt-5 pt-5" id="formulario">

   <div class="row align-items-center">

      <div class="col-lg-7" data-aos="zoom-in" data-aos-duration="1000">

         <img class="card-img-top" style="border-radius: 20px;" src="{% static 'images/formulario1.jpg' %}" width= "100%" alt="Card image cap">

      </div>
      
      <div class="col-lg-5 mt-4 mt-lg-0" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500" data-aos-anchor-placement="center">



   <form action="/sendEmail/" class="p-lg-5" method='POST'>
      {% csrf_token %}
      <h1> <bold>Formulario</bold></h1>



      <input placeholder ="Email..." id='id_email' name='email' type='email' class="mt-4 p-2 mr-2 w-100" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="300" style="margin-top: 160px; border: none; height: auto; border-radius: 10px;" required>
      <input placeholder ="Nombre de usuario..." id='id_rssc' name='rssc' type='text' class="mt-3 p-2 mr-2 w-100" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="300" style="margin-top: 160px; border: none; height: auto; border-radius: 10px;" required>
      <select  id='id_social_media' name='social_media'  class="mt-3 p-2 mr-2 w-100" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="300" style="margin-top: 160px; border: none; height: auto; border-radius: 10px; background-color: white;" required>

        <option value="IG">Instagram</option>
        <option value="FB">Facebook</option>
        <option value="TW">Twitter</option>
        <option value="Tk">Tik tok</option>
        <option value="YT">Youtube</option>
      </select>
      <div class="mt-5" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="700" style="margin-top: 160px;"><input type="submit" class="boton1"></input></div>

     <div  data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="900" >
         <input id='id_confirm_privacy' name='confirm_privacy'  type="checkbox" class="mt-3" id="vehicle1" name="vehicle1" value="Bike" required>
         <label class="text-secondary" for="vehicle3"> He leído y acepto los <a href="{% url 'privacidad' %}">términos y condiciones de privacidad</a></label>
      </div>

   </form>
   </div>


      </div>




   </div>


</div>
 {% endblock %}