 


 {% extends 'base.html' %}

 
 {% load static %}

 {% block content %}

 <div class="row align-items-center ">

   <div class="col-md-5 " style="margin-top: 7rem;">
      <div  data-aos="fade-up" data-aos-duration="1000" style="">
       <h1 class="mt-3" style="font-size:    50px;"><bold>¿Eres influencer o micro influencer?</bold></h1>
<!--        PONER DEJANOS TU EMAIL EN AMARILLO -->
        <p class="mt-3 text-secondary" style="font-size: 19px;">Valoramos tu trabajo y queremos contar con tu apoyo. Déjanos tus datos rellenando el formulario y nosotros te contactaremos.</p>
      </div>          

    <div class="d-flex"> 
        
      <div class="mt-4" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="700" ><a type="submit" href="#formulario" class="boton1" style="width: fit-content;">Rellena el formulario</a></div>
      <div class="mt-4 ml-2" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="700" style="margin-top: 160px;"><a type="submit" href="#ventajas" class="boton2" style="width: fit-content;">Ventajas</a></div>        

    </div>

   </div>

   <div class="col-md-7 pr-0 pl-0" data-aos-delay="300"style='' >

    <div class="d-flex justify-content-center align-items-center p-md-5 ml-5 mt-5 mt-md-0">
      <img data-aos ="zoom-out" data-aos-duration="1000" data-aos-delay="1000" src="{% static 'images/influencer2.png' %}" width="100% position-relative" >
    </div>

   </div>

 </div>

<!-- optimiza tu tiempo, facilita tu trabajo, aumenta tu profesionalidad
 -->
 <div id='ventajas' class="row align-items-stretch d-flex" style="margin-top: 80px;">

   <div class="col-md-4 mt-4 d-flex" data-aos-delay="200" data-aos="fade-in">
      
      <div class="card aumento-anim w-100">
         


         <div class="card-body">
            <div class="card-icon" style="background-color: #6bffb559;">



               <img class="card-img-top text-white" src="{% static 'images/cupon.svg' %}" width= "32" alt="Card image cap">
            </div>

           <h5 class="card-title mb-3 mt-3">Consigue tu código de descuento</h5>
           <p class="card-text text-secondary">
              Podrás dar un descuento a todos tus seguidores llevándote una comisión por venta.
           </p>

         </div>
       </div>
       

   </div>

   <div class="col-md-4 mt-4 d-flex" data-aos-delay="500" data-aos="fade-in">
      
      <div class="card aumento-anim w-100" >
         


         <div class="card-body">
            <div class="card-icon" style="background-color: #ffee0049;">
               <img class="card-img-top" src="{% static 'images/equipo.svg' %}" width= "32" alt="Card image cap">
            </div>

           <h5 class="card-title mb-3 mt-3">Trabaja mano a mano con nosotros</h5>
           <p class="card-text text-secondary">
         
               Tendrás acceso a un grupo privado donde estaremos en contacto directo contigo.
               Así podrás participar directamente en el futuro de la plataforma.
         
         </p>

         </div>
       </div>
       

   </div>

   <div class="col-md-4 mt-4 d-flex" data-aos="fade-in" data-aos-delay="900">
      
      <div class="card aumento-anim w-100">
         


         <div class="card-body">

            <div class="card-icon" style="background-color: #61e7ff57;">
               <img class="card-img-top" src="{% static 'images/etiqueta.svg' %}" width= "32" alt="Card image cap">
            </div>

            <h5 class="card-title mb-3 mt-3">Recibe ofertas exclusivas en todos nuestros productos</h5>
            <p class="card-text text-secondary">
               Desde descuentos únicos hasta pruebas totalmente gratuitas de nuestros productos sin ningún compromiso.
            </p>

         </div>

       </div>
       

   </div>


 </div>


<div class="mt-5 pt-5" id="formulario">

   <div class="row align-items-center">

      <div class="col-md-7" data-aos="zoom-in" data-aos-duration="1000">

         <img class="card-img-top" style="border-radius: 20px;" src="{% static 'images/formulario1.jpg' %}" width= "100%" alt="Card image cap">

      </div>
      
      <div class="col-md-5 mt-4 mt-md-0" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500" data-aos-anchor-placement="center">



   <form action="/sendEmail/" class="p-md-5" method='POST'>
      {% csrf_token %}
      <h1> <bold>Formulario</bold></h1>



      <input placeholder ="Email..." id='id_email' name='email' type='email' class="mt-4 p-2 mr-2 w-100" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="300" style="margin-top: 160px; border: none; height: auto; border-radius: 10px;" required>
      <input placeholder ="Nombre de usuario..." id='id_rssc' name='rssc' type='text' class="mt-3 p-2 mr-2 w-100" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="300" style="margin-top: 160px; border: none; height: auto; border-radius: 10px;" required>
      <select  id='id_social_media' name='social_media'  class="mt-3 p-2 mr-2 w-100" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="300" style="margin-top: 160px; border: none; height: auto; border-radius: 10px; background-color: white;" required>

        <option value="IG">Instagram</option>
        <option value="FB">Facebook</option>
        <option value="TW">Twitter</option>
        <option value="Tk">Tik tok</option>
        <option value="YT">Youtube</option>
      </select>
      <div class="mt-5" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="700" style="margin-top: 160px;"><input type="submit" class="boton1"></input></div>

     <div  data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="900" >
         <input id='id_confirm_privacy' name='confirm_privacy'  type="checkbox" class="mt-3" id="vehicle1" name="vehicle1" value="Bike" required>
         <label class="text-secondary" for="vehicle3"> He leído y acepto los <a href="{% url 'privacidad' %}">términos y condiciones de privacidad</a></label>
      </div>

   </form>
   </div>


      </div>




   </div>


</div>
 {% endblock %}