 


 {% extends 'base.html' %}

 
 {% load static %}

 {% block content %}

 <div class="row align-items-center ">

   <div class="col-lg-6 " style="margin-top: 7rem;">
      <div  data-aos="fade-up" data-aos-duration="1000" style="">
         <div class="d-flex flex-column justify-content-center">
            <h1 class="mt-3" style="font-size:    50px;"><bold>Aplicación móvil <span class="subrayado"> gratis</span> para tus clientes</bold></h1>
      <!--        PONER DEJANOS TU EMAIL EN AMARILLO -->
            <p class="mt-3 text-secondary" style="font-size: 23px;">La app viene incluida con tu suscripción a Beyl. Tus clientes tan sólo tendrán que descargarla y agregarte como entrenador.</p>
         </div>
      </div>          

   </div>

   <div class="col-lg-6 pr-0 pl-0" data-aos-delay="300"style='' >

    <div class="d-flex justify-content-center align-items-center p-lg-5">
      <img data-aos ="zoom-out" class="p-3" data-aos-duration="1000" data-aos-delay="1000" src="{% static 'images/mockups/mobile1.png' %}" width="100%" >
    </div>

   </div>

 </div>

<!-- optimiza tu tiempo, facilita tu trabajo, aumenta tu profesionalidad
 -->
 <div class="row mt-lg-5 mb-lg-5 pt-lg-5 pb-lg-5">

      <div class="col-lg-5 order-lg-1 order-2">

         <img data-aos ="zoom-out" class="p-3" data-aos-duration="1000" data-aos-delay="1000" src="{% static 'images/mockups/mobile2.png' %}" width="100%" >

      </div>

      <div class="col-lg-7 order-lg-2 order-1 justify-content-center d-flex flex-column">

            <h1 class="mb-3" style="font-size: 50px;"><bold>Podrán llevar su <span class="subrayado">rutina </span>a cualquier parte</bold></h1>
            <p class="text-secondary" style="font-size: 19px;">Con funcionalidades exlusivas: </p>
            <div class="mt-4 d-flex" data-aos-delay="200" data-aos="fade-in">
               
               <div class="card aumento-anim w-100 sombra">
                  


                  <div class="card-body d-flex align-items-center">

                     <h5 style="padding: 0.5rem 1rem; background-color: rgb(231, 255, 219); border-radius: 50%; color: rgb(14, 194, 83)">1</h5>

                     <h5 class="ml-3 card-title mb-3 mt-3">Modo entrenamiento mientras están en el gimnasio</h5>

                  </div>
               </div>
               

            </div>

            <div class="mt-4 d-flex" data-aos-delay="500" data-aos="fade-in">
               
               <div class="card aumento-anim w-100" >
                  


                  <div class="card-body d-flex align-items-center">

                     <h5 style="padding: 0.6rem 1rem; background-color: rgb(255, 213, 185); border-radius: 50%; color: rgb(255, 81, 0)">2</h5>

                     <h5 class="ml-3 card-title mb-3 mt-3">Vídeos explicativos de todos los ejercicios mas populares</h5>


                  </div>
               </div>
               

            </div>

            <div class="mt-4 d-flex" data-aos="fade-in" data-aos-delay="900">
               
               <div class="card aumento-anim w-100">
                  


                  <div class="card-body d-flex align-items-center">

                        <h5 style="padding: 0.6rem 1rem; background-color: rgb(185, 239, 255); border-radius: 50%; color: rgb(0, 162, 255)">3</h5>

                     <h5 class="ml-3 card-title mb-3 mt-3">Anotaciones personalizadas para la realización de los ejercicios</h5>

                  </div>

               </div>
               

            </div>

      </div>


 </div>


 <div class="row mt-lg-5 mb-lg-5 pt-lg-5 pb-lg-5">
      <div class="col-lg-7 order-lg-1 d-flex flex-column justify-content-center">
         <div>
            <h1 class="mb-2" style="font-size: 50px;"><bold>Tendrán acceso a su <span class="subrayado" >dieta </span>en cualquier momento</bold></h1>

            <p class="text-secondary" style="font-size: 23px;">Verán los macronutrientes y calorías de cada comida, así como de las recetas que les añadas</p>
      
         </div>
      </div>

      <div class="col-lg-5 order-lg-2">

         <img class="mt-4" data-aos ="zoom-out" data-aos-duration="1000" data-aos-delay="1000" src="{% static 'images/mockups/mobile3.png' %}" width="100% position-relative" >
      </div>




 </div>


 <div class="row align-items-center ">

   <div class="col-lg-7 order-md-2 mt-0 mt-md-5 " style="margin-top: 7rem;">
      <div  data-aos="fade-up" data-aos-duration="1000">
       <h1 class="mt-3" style="font-size: 50px;"><bold>Podrán subir sus <span class="subrayado">progresos</span></bold></h1>
<!--        PONER DEJANOS TU EMAIL EN AMARILLO -->
        <p class="mt-3 text-secondary" style="font-size: 23px;">Podrán subir fotos, pesos, altura. Además de la posibilidad de crear objetivos para nunca perder el norte.</p>
      </div>          

   </div>

   <div class="col-lg-5 pr-0 pl-0 order-md-1" data-aos-delay="300"style='' >

    <div class="d-flex justify-content-center align-items-center p-lg-5">
      <img data-aos ="zoom-out" class="p-3" data-aos-duration="1000" data-aos-delay="1000" src="{% static 'images/mockups/mobile4.png' %}" width="100%" >
    </div>

   </div>

 </div>


 <div class="row align-items-center ">

   <div class="col-lg-7 order-md-1 mt-1 mt-md-5" style="margin-top: 7rem;">
      <div  data-aos="fade-up" data-aos-duration="1000" style="">
       <h1 class="mt-3" style="font-size:    50px;"><bold>Chatea con tus <span class="subrayado">clientes</span></bold></h1>
<!--        PONER DEJANOS TU EMAIL EN AMARILLO -->
        <p class="mt-3 text-secondary" style="font-size: 23px;">Podrás tener un trato cercano y un contacto directo con ellos gracias a un chat instantáneo.</p>
      </div>          


   </div>

   <div class="col-lg-5 pr-0 pl-0 order-md-2" data-aos-delay="300"style='' >

    <div class="d-flex justify-content-center align-items-center p-lg-5">
      <img data-aos ="zoom-out" class="p-3" data-aos-duration="1000" data-aos-delay="1000" src="{% static 'images/mockups/mobile5.png' %}" width="100%" >
    </div>

   </div>

 </div>



</div>

 {% endblock %}