

<div id="privacyBanner" class="w-100 d-none justify-content-center">
    <div class="w-70 m-4 pl-4 pr-4 pt-4 pb-4 text-center" style="position: fixed; bottom: 0; z-index: 3000; background-color: white; border-radius: 30px; color: grey">

            <div clas="">
                <h5 class="mb-2"> <bold>Tu privacidad nos importa</bold></h5 >
                <p class="text-mobile" style="font-size: 13px;">
                Este sitio web utiliza cookies propias y de terceros para recopilar información que ayuda a optimizar su visita a sus páginas web. No se utilizarán las cookies para recoger información de carácter personal. Usted puede permitir su uso o rechazarlo. Encontrará más información en nuestra Política de Cookies. 
                </p>
            </div>

            <div class="d-flex justify-content-center w-100 mt-3">

                <div id="privacyDecline" class="boton3 boton-mobile mr-3" >
                    Rechaza
                </div>

                <div id="privacyAccept" class="boton1 boton-mobile " style="max-width: fit-content;">
                    Acepto
                </div>

            </div>


    </div>
</div>