
{% load static %}


<div class="p-5 d-flex justify-content-center" style="background-color: white !important; margin-top: 120px; ">
    <div class="row container"  style="max-width: 1800px !important;">
    <div class="col-md-5 text-center text-md-left mb-md-0 mb-5">
        <a href="{% url 'home' %}"><img src="{% static 'images/beyl.svg' %}" height="70px"></img></a>

        <div class="row mt-3 text-center">
            <a href = "https://www.instagram.com/beyl_app/" target='_blank'  ><img class="ml-3" src="{% static 'images/instagram.svg' %}" width= "25" alt="Card image cap"></a> 
            <a href = "https://www.facebook.com/beylapp"  target='_blank' ><img class="ml-3" src="{% static 'images/facebook.svg' %}" width= "25" alt="Card image cap"></a>  
            <a href = "https://www.linkedin.com/company/beylapp" target='_blank' ><img class="ml-3" src="{% static 'images/linkedin.svg' %}" width= "25" alt="Card image cap"> </a>
        </div>
    </div>    

    <div class="col-md-7 row">
        <div class="text-center col-md-6">
            <h5 class="mb-4">Contenido</h5>
            <a href="{% url 'home' %}"><p class="mb-2 text-secondary">Inicio</p></a>
            <a href="{% url 'features' %}" ><p class="mb-2 text-secondary">¿Qué te ofrecemos?</p></a>
            <a href="{% url 'influencer' %}"><p class="mb-2 text-secondary">¿Eres influencer?</p></a>
            <a href="{% url 'ofertas' %}"><p class="mb-2 text-secondary">Ofertas founder</p></a>
        </div>
        <div class="text-center col-md-6">
            <h5 class="mb-4">Contenido</h5>
            <a href="{% url 'team' %}"><p class="mb-2 text-secondary">Equipo
            </p></a>

        </div>
    </div>    
    </div>
</div>