{% load static %}



<div class="banner d-lg-flex justify-content-between d-none align-items-center"data-aos ="fade-down" data-aos-duration ="600" data-aos-delay = "500">

    <div>
        <h5>ACCEDE A OFERTAS FOUNDER PRE-LANZAMIENTO 💪</h5>
        <p>Tan solo con dejar tu email</p>
    </div>

    <div class="d-flex align-items-center">
        <p class="mr-3">Lanzamiento en </p>
        <h5 class="timer">08 : 00 : 55 : 29</h5>

        <a class="ml-3" href="{% url 'ofertas' %}">
            SÉ UN FOUNDER
        </a>
    </div>


</div>


<nav id="header" style="z-index: 3000" data-aos ="fade-down" data-aos-duration ="600" data-aos-delay = "200" class=" p-3 d-flex justify-content-between align-items-center w-100">

    <a href="{% url 'home' %}"><img src="{% static 'images/beyl.svg' %}" height="40px"></img></a>

    <div class=" align-items-center d-none d-lg-flex">
 
        <a href="{% url 'home' %}" class="text-decoration-none" ><p class="nav-header text-secondary {% if request.resolver_match.url_name == "home" %}nav-header-active{% endif %}">Inicio</p></a>
        <a href="{% url 'features' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'features' %}nav-header-active{% endif %}">¿Qué te ofrecemos?</p></a>
        <a href="{% url 'ofertas' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'ofertas' %}nav-header-active{% endif %}">Ofertas founder</p></a>
        <a href="{% url 'influencer' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'influencer' %}nav-header-active{% endif %}">¿Eres influencer?</p></a>
        <a href="{% url 'team' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "team" %}nav-header-active{% endif %}">Equipo</p></a>

   </div>


    <div class="d-flex">

        <a href='{% url 'home' %}' class="boton1 d-none d-lg-block ml-2">Deja tu email</a>

    </div>

    <div id="h-menu" class = "h-menu d-block d-lg-none">
        <div class="bar bar-1"></div>
        <div class="bar bar-2"></div>
        <div class="bar bar-3"></div>
    </div>


</nav>

<nav id="fixed-header" style="z-index: 3000" data-aos ="fade-down" data-aos-duration ="600" data-aos-delay = "200" class="fixed-header p-3 d-none justify-content-between align-items-center w-100">

    <a href="{% url 'home' %}"><img src="{% static 'images/beyl.svg' %}" height="40px"></img></a>

    <div class=" align-items-center d-none d-lg-flex">
 
        <a href="{% url 'home' %}" class="text-decoration-none" ><p class="nav-header text-secondary {% if request.resolver_match.url_name == "home" %}nav-header-active{% endif %}">Inicio</p></a>
        <a href="{% url 'features' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'features' %}nav-header-active{% endif %}">¿Qué te ofrecemos?</p></a>
        <a href="{% url 'ofertas' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'ofertas' %}nav-header-active{% endif %}">Ofertas founder</p></a>
        <a href="{% url 'influencer' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'influencer' %}nav-header-active{% endif %}">¿Eres influencer?</p></a>
        <a href="{% url 'team' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "team" %}nav-header-active{% endif %}">Equipo</p></a>
   </div>


    <div class="d-flex">

        <a href='{% url 'home' %}' class="boton1 d-none d-lg-block ml-2">Deja tu email</a>

    </div>


</nav>



<div id="mobile-menu" style="top: 0;" class="mobile-menu d-none flex-column justify-content-center text-center position-fixed">

        <a href="{% url 'home' %}" class="text-decoration-none" ><p class="nav-header text-secondary {% if request.resolver_match.url_name == "home" %}nav-header-active{% endif %}">Inicio</p></a>
        <a href="{% url 'team' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "team" %}nav-header-active{% endif %}">Equipo</p></a>
        <a href="{% url 'features' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'features' %}nav-header-active{% endif %}">¿Qué te ofrecemos?</p></a>

        <a href="{% url 'influencer' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'influencer' %}nav-header-active{% endif %}">¿Eres influencer?</p></a>

        <a href="{% url 'ofertas' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'ofertas' %}nav-header-active{% endif %}">Ofertas founder</p></a>
</div>