{% load static %}

<nav id="header" style="z-index: 3000" data-aos ="fade-down" data-aos-duration ="600" data-aos-delay = "200" class=" p-3 d-flex justify-content-between align-items-center w-100">

    <img src="{% static 'images/beyl.svg' %}" height="40px"></img>

    <div class=" align-items-center d-none d-lg-flex">
 
        <a href="{% url 'home' %}" class="text-decoration-none" ><p class="nav-header text-secondary {% if request.resolver_match.url_name == "home" %}nav-header-active{% endif %}">Inicio</p></a>
        <a href="{% url 'team' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "team" %}nav-header-active{% endif %}">Equipo</p></a>
        <a href="{% url 'plans' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'plans' or request.resolver_match.url_name == 'anual_plans' %}nav-header-active{% endif %}">Planes</p></a>
        <a href="{% url 'features' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'features' %}nav-header-active{% endif %}">¿Que te ofrecemos?</p></a>
        <a href="{% url 'faq' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'faq' %}nav-header-active{% endif %}">FAQs</p></a>

   </div>

    <div class="boton1 d-none d-lg-block">Contactanos</div>

    <div id = "h-menu" class = "h-menu d-block d-lg-none">
        <div class="bar bar-1"></div>
        <div class="bar bar-2"></div>
        <div class="bar bar-3"></div>
    </div>


</nav>
<div id="mobile-menu" class="mobile-menu d-none flex-column justify-content-center text-center">

        <a href="{% url 'home' %}" class="text-decoration-none" ><p class="nav-header text-secondary {% if request.resolver_match.url_name == "home" %}nav-header-active{% endif %}">Inicio</p></a>
        <a href="{% url 'team' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "team" %}nav-header-active{% endif %}">Equipo</p></a>
        <a href="{% url 'plans' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'plans' or request.resolver_match.url_name == 'anual_plans' %}nav-header-active{% endif %}">Planes</p></a>
        <a href="{% url 'features' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'features' %}nav-header-active{% endif %}">¿Que te ofrecemos?</p></a>
        <a href="{% url 'faq' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'faq' %}nav-header-active{% endif %}">FAQs</p></a>



</div>