{% load static %}



<div class="banner d-lg-flex justify-content-between d-none align-items-center"data-aos ="fade-down" data-aos-duration ="600" data-aos-delay = "500">

    <div>
        <h5>YA TENEMOS NUESTRA BETA CERRADA ACTIVA</h5>
        <p>Apuntate gratuitamente y prueba beyl</p>
    </div>

    <div class="d-flex align-items-center">
        <a class="ml-3" href="https://app.beylapp.com">
            UNETE A LA BETA
        </a>
    </div>


</div>


<nav id="header" style="z-index: 3000" data-aos ="fade-down" data-aos-duration ="600" data-aos-delay = "200" class=" p-3 d-flex justify-content-between align-items-center w-100">

    <a href="{% url 'home' %}"><img src="{% static 'images/beyl.svg' %}" height="40px"></img></a>

    <div class=" align-items-center d-none d-lg-flex">
 
        <a href="{% url 'home' %}" class="text-decoration-none" ><p class="nav-header text-secondary {% if request.resolver_match.url_name == "home" %}nav-header-active{% endif %}">Inicio</p></a>
        <a href="{% url 'features' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'features' %}nav-header-active{% endif %}">Plataforma web</p></a>
        <a href="{% url 'app' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "app" %}nav-header-active{% endif %}">App móvil</p></a>
        <a href="{% url 'influencer' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'influencer' %}nav-header-active{% endif %}">¿Eres influencer?</p></a>
        <a href="{% url 'team' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "team" %}nav-header-active{% endif %}">Equipo</p></a>

   </div>


    <div class="d-flex">

        <a href='https://app.beylapp.com' class="boton3 d-none d-lg-block ml-2">Entra</a>
        <a href='https://app.beylapp.com/register' class="boton1 d-none d-lg-block ml-2">Únete</a>

    </div>

    <div id="h-menu" class = "h-menu d-block d-lg-none">
        <div class="bar bar-1"></div>
        <div class="bar bar-2"></div>
        <div class="bar bar-3"></div>
    </div>


</nav>

<div class="w-100 d-lg-flex d-none justify-content-center">
    <nav id="fixed-header" style="z-index: 3000" data-aos ="fade-down" data-aos-duration ="600" data-aos-delay = "200" class="fixed-header pt-3 pb-3 pl-5 pr-5 d-none justify-content-between align-items-center w-100">

        <a href="{% url 'home' %}"><img src="{% static 'images/beyl.svg' %}" height="40px"></img></a>

        <div class=" align-items-center d-none d-lg-flex">
    
            <a href="{% url 'home' %}" class="text-decoration-none" ><p class="nav-header text-secondary {% if request.resolver_match.url_name == "home" %}nav-header-active{% endif %}">Inicio</p></a>
            <a href="{% url 'features' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'features' %}nav-header-active{% endif %}">Plataforma web</p></a>
            <a href="{% url 'app' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "app" %}nav-header-active{% endif %}">App móvil</p></a>
            <a href="{% url 'influencer' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'influencer' %}nav-header-active{% endif %}">¿Eres influencer?</p></a>
            <a href="{% url 'team' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "team" %}nav-header-active{% endif %}">Equipo</p></a>
    </div>


        <div class="d-flex">

        <a href='https://app.beylapp.com' class="boton3 d-none d-lg-block ml-2">Entra</a>
        <a href='https://app.beylapp.com/register' class="boton1 d-none d-lg-block ml-2">Únete</a>

        </div>


    </nav>
</div>



<div id="mobile-menu" style="top: 0;" class="mobile-menu d-none flex-column justify-content-center text-center position-fixed">

            <a href="{% url 'home' %}" class="text-decoration-none" ><p class="nav-header text-secondary {% if request.resolver_match.url_name == "home" %}nav-header-active{% endif %}">Inicio</p></a>
            <a href="{% url 'features' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'features' %}nav-header-active{% endif %}">Plataforma web</p></a>
            <a href="{% url 'app' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "app" %}nav-header-active{% endif %}">App móvil</p></a>
            <a href="{% url 'ofertas' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'ofertas' %}nav-header-active{% endif %}">Ofertas founder</p></a>
            <a href="{% url 'influencer' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'influencer' %}nav-header-active{% endif %}">¿Eres influencer?</p></a>
            <a href="{% url 'team' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "team" %}nav-header-active{% endif %}">Equipo</p></a>
</div>