{% load static %}

<nav id="header" style="z-index: 3000" data-aos ="fade-down" data-aos-duration ="600" data-aos-delay = "200" class=" p-3 d-flex justify-content-between align-items-center w-100">

    <a href="{% url 'home' %}"><img src="{% static 'images/beyl.svg' %}" height="40px"></img></a>

    <div class=" align-items-center d-none d-lg-flex">
 
        <a href="{% url 'cookies' %}" class="text-decoration-none" ><p class="nav-header text-secondary {% if request.resolver_match.url_name == "cookies" %}nav-header-active{% endif %}">Política de cookies</p></a>
        <a href="{% url 'privacidad' %}" class="text-decoration-none"><p  class="nav-header text-secondary {% if request.resolver_match.url_name == "privacidad" %}nav-header-active{% endif %}">Política de privacidad</p></a>
        <a href="{% url 'aviso_legal' %}"  class="text-decoration-none" ><p  class="nav-header text-secondary {% if request.resolver_match.url_name == 'aviso_legal' %}nav-header-active{% endif %}">Aviso legal</p></a>

    </div>


<div class="d-flex">

      <a href='{% url 'home' %}' class="boton1 d-none d-lg-block ml-2">Volver</a>

</div>




</nav>