{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src = "{% static 'javascript/nav.js' %}"></script>
    <script src="https://unpkg.com/aos@2.0.1/dist/aos.js"></script>
    <title>Beyl</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="{% static 'images/logobeyl.png'  %}">
</head>


<div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <h1 class="mb-5" style="font-size: 130px; color: rgb(63, 63, 63)">404</h1>
    <h2 class="mb-3" style="color: #ffc600; font-weight: 600; font-size: 60px; font-family: poppins;">Oops!</h2>
    <h5 style="font-family: poppins; color: grey" class="mt-3">
        No se ha encontrado la página que buscabas.
    </h5>

    <div>
        <a href="/" class="mt-5 boton1">
          Vuelve atrás
        </a>
    </div>


</div>

