
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src = "{% static 'javascript/nav.js' %}"></script>
    <script src = "{% static 'javascript/mobile_nav.js' %}"></script>
    <script src = "{% static 'javascript/cookie_policy.js' %}"></script>
    <script src="https://unpkg.com/aos@2.0.1/dist/aos.js"></script>
    <title>Beyl</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="{% static 'images/logobeyl.png'  %}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js">
    </script>
</head>


<body style="overflow-x: hidden !important">
    {% include 'navigation/header.html' %}
    {% include 'navigation/cookie_policy.html' %}
    <div class="container" style="max-width: 1500px;">

        {% block content %}

        {% endblock %}

    </div>

    {% include 'navigation/footer.html' %}
</body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RXP585PX3C%22%3E"</script>
</script>


<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js%27);
    fbq('init', '2379388112206348');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2379388112206348&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
<script>
<noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2379388112206348&ev=PageView&noscript=1"
/></noscript>

AOS.init({disable: 'mobile'});
</script>
</html>
